{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta property="description" content="A customer oriented House and Office Cleaning service servicing Orlando.  Fully Licensed and Insured.">
    <!-- <meta name="description" content="Residential and Business Cleaning Services in Orlando, FL"> -->
    <!-- <meta name="author" content="Wintap Web Design Services"> -->
    <link rel="icon" href="{% static 'magicassets/images/broom.png'%}">
    <title>Magic Broom LLC Request a Quotation</title>
    <!--  Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kurale|Lobster+Two:400i|Zilla+Slab" rel="stylesheet">
    <!--  Stylesheets-->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"
        integrity="sha384-OHBBOqpYHNsIqQy8hL1U+8OXf9hH6QRxi0+EODezv82DfnZoV7qoHAZDwMwEJvSw"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
    <script src="{% static 'magicassets/js/ie10.js' %}"> </script>
    <script src="{% static 'magicassets/js/g_map.js' %}" charset="utf-8"></script>
    <link rel="stylesheet" href="{% static 'magicassets/pickadate/lib/themes/classic.time.css' %}">
    <link rel="stylesheet" href="{% static 'magicassets/pickadate/lib/themes/classic.css' %}">
    <link rel="stylesheet" href="{% static 'magicassets/pickadate/lib/themes/classic.date.css' %}">
    <link rel="stylesheet" href="{% static 'magicassets/css/social.css' %}">
    <link rel="stylesheet" href="{% static 'magicassets/css/style.css' %}">

  <!-- <body data-spy="scroll" data-target="#navbar-magic" id="home"> -->
    <style>

        #timePickers {
          /*background: rgb(170, 140, 155);*/

        }
        a.ui-corner-all:hover {
          background-color:rgb(170, 140, 155);
        }

        li .ui-menu-item a:hover {
          background-color: pink;
        }

        input[type="time"] {
          background-color: orange;

        }
    /*p.required2:after {
      content: " *";
      margin-left: 250px;
    }*/
    label.required:after {
      content: " *";
      color: red;
    }

        }
        /*input[booking_date] {
          background-color: blue;
        }*/
  .remBullets {
    background-color: green;
    color: blue;
    list-style-type: none;

  }
    </style>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108113680-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-108113680-1');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-71299433-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-71299433-2');
  </script>

</head>
  <body>
    <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse nav-custom" id="navbar-magic" >
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'magicassets/images/broom.png'%}" width="100px" height="45px" alt="Magic Broom Logo"></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="text-nowrap nav-link home-track" href="/#home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="text-nowrap nav-link" id="nav-custom" href="/#heading1">Our Services</a>
          </li>
          <li class="nav-item">
            <a class="text-nowrap nav-link" href="/#heading2">Why Work With Us</a>
          </li>
          <li class="nav-item">
            <a class="text-nowrap nav-link quote_request active" href="#request_form">Request A Quotation</a>
          </li>
        </ul>
      </div>
    </nav>
    <!--  Jumbotron -->
    <div class="overlay">
      <div class="jumbotron">
      <!-- <h1 class="display-3">Magic Broom Cleaning Services</h1>
      <p class="lead intro-text">Thank you for visiting our site.<br />
          We are an Orlando based cleaning service provider.<br />
          Our mission is to ensure that your home or business is spotless</p>
      <hr class="my-4"> -->
      <p class="lead intro-text"> We provide different category of services to specifically meet your needs</p>
      <p class="signature">Yours Sincerely, The Team at Magic Broom</p>
      <i class="fa fa-phone fa-2x" aria-hidden="true"> 407 286-8421</i><br /><br />
      <!-- <img src="{% static 'magicassets/images/30%.png' %}" alt="Recurring Cleaning Services" width="350em" class="img-fluid"> -->

      <!-- <p class="lead">
        <a class="btn btn-primary btn-lg quote_request but_quote" href="/magicbroom/#request_form" id="buttonQuote" role="button">« Request A Quotation »</a>
      </p> -->
    </div>
    </div>
    <!-- <button onclick="#" id="myBtn" title="Go to top">Chat With Us</button> -->
    <!-- <button onclick="" id="myBtn2" title="Go to top">Top2</button> -->

  <!--  MODALS -->

  <!-- Kitchen  -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title heading-colors" id="exampleModalLabel">Your Kitchen Cleaning includes </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <ul class="list-group">
              <li class="list-group-item list-group-item-success">Disinfecting every surface <i class="smiley-font fa fa-smile-o" aria-hidden="true"></i></li>
              <li class="list-group-item list-group-item-info">Clean your microwave <i class="smiley-font fa fa-smile-o" aria-hidden="true"></i></li>
              <li class="list-group-item list-group-item-success">Wash Countertops <i class="smiley-font fa fa-smile-o" aria-hidden="true"></i></li>
              <li class="list-group-item list-group-item-info">Sweep the floors <i class="smiley-font fa fa-smile-o" aria-hidden="true"></i></li>
              <li class="list-group-item list-group-item-success">Mop the floors <i class="smiley-font fa fa-smile-o" aria-hidden="true"></i></li>
              <li  class="list-group-item list-group-item-info">Empty the trash cans <i class="smiley-font fa fa-smile-o" aria-hidden="true"></i></li>
            </ul>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary " data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<!--  Your Bedroom(s) -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Your Bedroom Cleaning includes </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <ul class="list-group">
              <li class="list-group-item list-group-item-success">Every surface is dusted <i class="smiley-font fa fa-smile-o" aria-hidden="true"></i></li>
              <li class="list-group-item list-group-item-info">Mirrors will be cleaned <i class="smiley-font fa fa-smile-o" aria-hidden="true"></i></li>
              <li class="list-group-item list-group-item-success">Floors will be vacuumed <i class="smiley-font fa fa-smile-o" aria-hidden="true"></i></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<!--  Your Living Room -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Your Living Room Includes </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <ul class="list-group">
              <li class="list-group-item list-group-item-success">Dusting of every surface <i class="smiley-font fa fa-smile-o" aria-hidden="true"></i></li>
              <li class="list-group-item list-group-item-info">Vacuuming of floors <i class="smiley-font fa fa-smile-o" aria-hidden="true"></i></li>
              <li class="list-group-item list-group-item-success">Sweeping of floors <i class="smiley-font fa fa-smile-o" aria-hidden="true"></i></li>
              <li class="list-group-item list-group-item-info">Moping of floors <i class="smiley-font fa fa-smile-o" aria-hidden="true"></i></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<!--  Your Dining Room -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Your Dining Room Cleaning includes </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <ul class="list-group">
              <li class="list-group-item list-group-item-success">Dusting of every surface <i class="smiley-font fa fa-smile-o" aria-hidden="true"></i></li>
              <li class="list-group-item list-group-item-info">Wiping of table clean <i class="smiley-font fa fa-smile-o" aria-hidden="true"></i></li>
              <li class="list-group-item list-group-item-success">Sweeping of floors <i class="smiley-font fa fa-smile-o" aria-hidden="true"></i></li>
              <li class="list-group-item list-group-item-info">Moping of floors <i class="smiley-font fa fa-smile-o" aria-hidden="true"></i></li>
              <li class="list-group-item list-group-item-success">Vacuuming of floors <i class="smiley-font fa fa-smile-o" aria-hidden="true"></i></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
<!-- Your Bathroom -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Your Bathroom Cleaning includes </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <ul class="list-group">
              <li class="list-group-item list-group-item-success">Disinfecting and Wiping of All Surfaces <i class="smiley-font fa fa-smile-o" aria-hidden="true"></i></li>
              <li class="list-group-item list-group-item-info">Cleaning and Disinfecting of Toilets <i class="smiley-font fa fa-smile-o" aria-hidden="true"></i></li>
              <li class="list-group-item list-group-item-success">Sweeping of floors <i class="smiley-font fa fa-smile-o" aria-hidden="true"></i></li>
              <li class="list-group-item list-group-item-info">Moping of floors <i class="smiley-font fa fa-smile-o" aria-hidden="true"></i></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
    <!--  END MODALS -->
  <div class="container">

  <div class="row">
      <div class="col-sm-12 col-md-8 thirdsection" id="request_form">
        <h1 class="quotation-heading heading-colors"> Request A Quotation</h1>
        <hr class="my-4">
            <!-- <form method="post">
              {% csrf_token %} -->
                <!-- {{form.as_p}} -->
                <!-- <button type="submit" class="btn btn-primary" name="button">Submit Quotation</button> -->
    <!-- {% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
    </div>
    {% endfor %} -->
  <form method="post">
      {% csrf_token %}

          <!-- Indicate Form Errors here -->
          {% if form.errors %}
          <div class="row">
              <div class="col-sm-12 col-md-6 errorlist2 bg-danger">
                <p>You have errors in your form</p>
              </div>

          </div>
        {% endif %}
      <!-- Errors Here -->
        <ul class="errorlist">
        {% if form.non_field_errors %}
          <li>{{ form.non_field_errors }}</li>
        {% endif %}
        {% for field in form %}
          {% if field.errors %}
            <li>
              {{ field.label }}
              <ul class="errorlist">
                {% for error in field.errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              </ul>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      {% if messages %}
      <ul class="messages">
      {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
      </ul>
      {% endif %}
      <!-- {% for error in form.non_field_errors %}
        <div class="form-group has-errors text-danger small">
            {{error}}
        </div>
      {% endfor %} -->

  <!-- {% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
  {% endfor %} -->

      <!-- {{form.as_p}} -->

<!--  Last Name -->
        <div class="form-group">
          <label for="last_name" class="required">{{form.last_name.label}}</label>
          {{form.last_name}}
        </div>
        {% if form.last_name.errors %}
          <div class="form-group has-errors text-danger small">
          {% for error in form.last_name.errors %}
              <span>{{ error }}</span>
              <script type="text/javascript">
              </script>
          {% endfor %}
          </div>
        {% endif %}

<!--  First Name -->
        <div class="form-group">
          <label for="first_name" class="required">{{form.first_name.label}}</label>
          {{form.first_name}}
        </div>
        {% if form.first_name.errors %}
          <div class="form-group has-errors text-danger small">
          {% for error in form.first_name.errors %}
              <span>{{ error }}</span>
              <script type="text/javascript">
              </script>
          {% endfor %}
          </div>
        {% endif %}

<!--  Email -->
<div class="form-group">
  <label for="email" class="required">{{form.email.label}}</label>
  {{form.email}}
</div>
{% if form.email.errors %}
  <div class="form-group has-errors text-danger small">
  {% for error in form.email.errors %}
      <span>{{ error }}</span>
      <script type="text/javascript">
      </script>
  {% endfor %}
  </div>
{% endif %}

<!-- Telephone -->
<div class="form-group">
  <label for="telephone" class="required">{{form.telephone.label}}</label>
  {{form.telephone}}
</div>
{% if form.telephone.errors %}
  <div class="form-group has-errors text-danger small">
  {% for error in form.telephone.errors %}
      <span>{{ error }}</span>
      <script type="text/javascript">
      </script>
  {% endfor %}
  </div>
{% endif %}

<!-- Address -->
<div class="form-group">
  <label for="address" class="required">{{form.address.label}}</label>
  {{form.address}}
</div>
{% if form.address.errors %}
  <div class="form-group has-errors text-danger small">
  {% for error in form.address.errors %}
      <span>{{ error }}</span>
      <script type="text/javascript">
      </script>
  {% endfor %}
  </div>
{% endif %}

<!-- Apt/Suite -->
<div class="form-group">
  <label for="apt_suite">{{form.apt_suite.label}}</label>
  {{form.apt_suite}}
</div>
{% if form.apt_suite.errors %}
  <div class="form-group has-errors text-danger small">
  {% for error in form.apt_suite.errors %}
      <span>{{ error }}</span>
      <script type="text/javascript">
      </script>
  {% endfor %}
  </div>
{% endif %}

<!-- City -->
<div class="form-group">
  <label for="city" class="required">{{form.city.label}}</label>
  {{form.city}}
</div>
{% if form.city.errors %}
  <div class="form-group has-errors text-danger small">
  {% for error in form.city.errors %}
      <span>{{ error }}</span>
      <script type="text/javascript">
      </script>
  {% endfor %}
  </div>
{% endif %}

<!--  State -->
<div class="form-group">
  <label for="state">{{form.state.label}}</label>
  {{form.state}}
</div>
{% if form.state.errors %}
  <div class="form-group has-errors text-danger small">
  {% for error in form.state.errors %}
      <span>{{ error }}</span>
      <script type="text/javascript">
      </script>
  {% endfor %}
  </div>
{% endif %}

<!--  Zip Code -->
<div class="form-group">
  <label for="zip_code" class="required">{{form.zip_code.label}}</label>
  {{form.zip_code}}
</div>
{% if form.zip_code.errors %}
  <div class="form-group has-errors text-danger small">
  {% for error in form.zip_code.errors %}
      <span>{{ error }}</span>
      <script type="text/javascript">
      </script>
  {% endfor %}
  </div>
{% endif %}

<!--  House Information-->
<div class="form-group">
  <label for="last_name" class="required">{{form.home_info_boost.label}}</label>
  {{form.home_info_boost}}
</div>
{% if form.home_info_boost.errors %}
  <div class="form-group has-errors text-danger small">
  {% for error in form.home_info_boost.errors %}
      <span>{{ error }}</span>
      <script type="text/javascript">
      </script>
  {% endfor %}
  </div>
{% endif %}

<!-- Square Footage -->
<div class="form-group">
  <label for="square_feet" class="required">{{form.square_feet.label}}</label>
  {{form.square_feet}}
</div>
{% if form.square_feet.errors %}
  <div class="form-group has-errors text-danger small">
  {% for error in form.square_feet.errors %}
      <span>{{ error }}</span>
      <script type="text/javascript">
      </script>
  {% endfor %}
  </div>
{% endif %}

<!-- Check if Carpet -->
<div class="form-group">
  <label for="check_if_carpet">{{form.check_if_carpet.label}}</label>
  {{form.check_if_carpet}}
</div>
{% if form.check_if_carpet.errors %}
  <div class="form-group has-errors text-danger small">
  {% for error in form.check_if_carpet.errors %}
      <span>{{ error }}</span>
      <script type="text/javascript">
      </script>
  {% endfor %}
  </div>
{% endif %}

<!--Rate Home  -->
<div class="form-group">
  <label for="rate_home" class="required">{{form.rate_home.label}}</label>
  {{form.rate_home}}
</div>
{% if form.rate_home.errors %}
  <div class="form-group has-errors text-danger small">
  {% for error in form.rate_home.errors %}
      <span>{{ error }}</span>
      <script type="text/javascript">
      </script>
  {% endfor %}
  </div>
{% endif %}

<!-- Service Type -->
<div class="form-check">
  <label for="service_type" class="required">{{form.service_type.label}}</label>
  {{form.service_type}}
</div>
{% if form.service_type.errors %}
  <div class="form-group has-errors text-danger small">
  {% for error in form.service_type.errors %}
      <span>{{ error }}</span>
      <script type="text/javascript">
      </script>
  {% endfor %}
  </div>
{% endif %}

<!-- Extra Service -->
<div class="form-check">
  <label for="extra_service">Extra Service (Optional)</label>
  {{form.extra_service}}
</div>
{% if form.extra_service.errors %}
  <div class="form-group has-errors text-danger small">
  {% for error in form.extra_service.errors %}
      <span>{{ error }}</span>
      <script type="text/javascript">
      </script>
  {% endfor %}
  </div>
{% endif %}

<!-- Booking Date -->
<div class="form-group">
  <label for="booking_date" class="required">{{form.booking_date.label}}</label>
  {{form.booking_date}}
</div>
{% if form.booking_date.errors %}
  <div class="form-group has-errors text-danger small">
  {% for error in form.booking_date.errors %}
      <span>{{ error }}</span>
      <script type="text/javascript">
      </script>
  {% endfor %}
  </div>
{% endif %}

<!-- Booking Time -->
<div class="form-group">
  <label for="booking_time">{{form.booking_time.label}}</label>
  {{form.booking_time}}
</div>
{% if form.booking_time.errors %}
  <div class="form-group has-errors text-danger small">
  {% for error in form.booking_time.errors %}
      <span>{{ error }}</span>
      <script type="text/javascript">
      </script>
  {% endfor %}
  </div>
{% endif %}


<!-- Referrer -->
<div class="form-group">
  <label for="referrer" class="required">{{form.referrer.label}}</label>
  {{form.referrer}}
</div>
{% if form.referrer.errors %}
  <div class="form-group has-errors text-danger small">
  {% for error in form.referrer.errors %}
      <span>{{ error }}</span>
      <script type="text/javascript">
      </script>
  {% endfor %}
  </div>
{% endif %}

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
      <div class="col-sm-12 col-md-4 thirdsection">
        <div class="row ">
          <div class="col-sm-12 col-md-12 map-heading">
            <h4 class="heading-colors">Services Included</h4>
            <ul class="list-group services">
              <li class="list-group-item justify-content-between">
                Your Kitchen <i class="fa fa-arrow-circle-right" aria-hidden="true"></i><!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary"
                     data-toggle="modal" data-target="#myModal">
                      Details
                  </button>
                <i class="fa fa-check-circle" aria-hidden="true"></i>
              </li>
              <li class="list-group-item justify-content-between">
                Your Bedroom<i class="fa fa-arrow-circle-right" aria-hidden="true"></i><!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary"
                     data-toggle="modal" data-target="#myModal1">
                      Details
                  </button>
                <i class="fa fa-check-circle" aria-hidden="true"></i>
              </li>
              <li class="list-group-item justify-content-between">
                Your Living Room <i class="fa fa-arrow-circle-right" aria-hidden="true"></i><!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary"
                     data-toggle="modal" data-target="#myModal2">
                      Details
                  </button>
                <i class="fa fa-check-circle" aria-hidden="true"></i>
              </li>
              <li class="list-group-item justify-content-between">
                Your Dining Room <i class="fa fa-arrow-circle-right" aria-hidden="true"></i><!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary"
                     data-toggle="modal" data-target="#myModal3">
                      Details
                  </button>
                <i class="fa fa-check-circle" aria-hidden="true"></i>
              </li>
              <li class="list-group-item justify-content-between">
                Your Bathroom<i class="fa fa-arrow-circle-right" aria-hidden="true"></i><!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary"
                     data-toggle="modal" data-target="#myModal4">
                      Details
                  </button>
                <i class="fa fa-check-circle" aria-hidden="true"></i>
              </li>
            </ul>
          </div>
        </div>

        <h4 class="map-heading heading-colors">Our Coverage Area</h4>
        <div id="map" style="width:100%;height:500px"></div>
      </div>
    </div>

  </div> <!--  End Container-->
  <footer class="navbar">
    <!-- <div class="navbar-nav"> -->
      <p class="justify-content-center follow-us">Follow Us
      </p>
      <p class="justify-content-center">
        <a class="btn" href="https://www.facebook.com/magicbroomllc/">
        <i class="fa fa-facebook fa-2x"></i>
        </a>
        <a class="btn" href="https://twitter.com/magicbroomllc">
        <i class="fa fa-twitter fa-2x"></i>
        </a>
      </p>
      <p class="justify-content-center wintap-info">
        <a href="{% url 'terms_of_service' %}">Terms of service</a>
        <!-- | <a href="{% url 'privacy_policy' %}">Privacy Policy</a> -->
      </p>
      <address class="justify-content-center wintap-info">
        Magic Broom LLC<br />
        750 South Orange Blossom Trail Suite 127 <br />
        Orlando, FL 32805
      </address>
      <p class="justify-content-center wintap-info">
        © Wintap Media Services 2017
      </p>
  </footer>
  <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script src="{% static 'magicassets/js/tawkto.js' %}" charset="utf-8"></script>
  <!-- <script src="{% static 'magicassets/js/magic.js' %}" charset="utf-8"></script> -->
  <script src="{% static 'magicassets/pickadate/lib/picker.js' %}"></script>
  <script src="{% static 'magicassets/pickadate/lib/picker.date.js' %}"></script>
  <script src="{% static 'magicassets/pickadate/lib/picker.time.js' %}"></script>
  <script src="{% static 'magicassets/pickadate/lib/legacy.js' %}"></script>
  <script src="{% static 'magicassets/js/date_time.js' %}"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBR4OFIDIVXFoxZtOZ-iLD3RIbMCwiTn_Y&callback=myMap"></script>

  <script>
  $(document).ready(function() {
    $(".quote_request").click(function() {
      $('html, body').animate({
        scrollTop: $("#request_form").offset().top
      }, 2000);
  });

// Set Form Headings
// Add Customer Information
  $('#id_last_name').parent().before('<h2 class = "headers heading-colors">Customer Information</h2>');

  // Add Tell us about your home
  $('#id_home_info_boost').parent().before('<hr class="my-4"><h2 class = "headers heading-colors">Tell Us About Your Home</h2>');

// Add Choose Your Service
$('#id_service_type').parent().before('<hr class="my-4"><h2 class = "headers heading-colors">Choose Your Service</h2>');

// Add When do you want us to come
$('#id_booking_date').parent().before('<hr class="my-4"><h2 class = "headers heading-colors">When do you want us to come?</h2>');


  // $('#id_last_name').parent().before('<h2 class = "headers">Tell us about yourself</h2>');

  // $('#id_address').parent().before('<hr class="my-4"><h2 class = "headers heading-colors">Customer Information</h2>');


  // $('#timing').pickatime({
  //   min: [6,30],
  //   max: [19,0]
  // });

//   $("ul.errorlist").each(function(){
//     $(this).append(".errorlist");
// });

var $newClass = $("ul.errorlist");
// $(".errorlist2").append($newClass);

// Add class to labels that are required
$('label[for=booking_time]').addClass('required');
// $('label[for=service_type]').addClass('form-check-label');

// Add class to service_type
$('#id_service_type').addClass('list-unstyled');

// Add class to extra_service
$('#id_extra_service').addClass('list-unstyled');

// Add Class on page load
$("#id_zip_code").addClass("mynewclass");

$("#id_booking_date,#id_booking_time").css('background-color', 'white');

// Disable State field
$("#id_state").prop('disabled', true);

$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').focus();
})

$('#myModal1').on('shown.bs.modal', function () {
  $('#myInput').focus();
})

$('#myModal2').on('shown.bs.modal', function () {
  $('#myInput').focus();
})
// $("#myModal").modal("show")

});
  </script>
  <!--  Start Snow Scripts-->
  <!--  End Snow Scripts-->

  </body>
</html>
